/* 
Project Color Settings:

Name: White Coffee
Hex: e0dfd1
RGB: (224, 223, 209)

Name: Sonic Silver
Hex: 777777
RGB: (119, 119, 119)

	
Name: Police Blue
Hex: 344c64
RGB: (52, 76, 100)

Name: Vampire Black
Hex: 0C0004
RGB: (12, 0, 4)

BROWN SUGAR	
Name: Brown Sugar
Hex: b47c4d
RGB: (180, 124, 77)

Name: Dim Gray
Hex: 696a6f
RGB: (105, 106, 111)

*/

.app {
    height: 100vh;
}

.app_body {
    display: flex;
    height: 100vh;
}